@media screen and (min-width: 320px) and (max-width: 719px) {
	#footer {
		font-size: 3vw;
		margin-left: 10%;
		margin-top: 20px;
		width: 80%;
	}
	#index-logo {
		margin-top: 20px;
	}
	#menu > ul > li > a {
		font-size: 6.3vw;
	}
	#menu > ul > li > ul > li > a {
		font-size: 4.4vw;
	}
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
	#footer {
		font-size: 2.2vw;
		margin-left: 15%;
		margin-top: 40px;
		width: 70%;
	}
	#index-logo {
		margin-top: 30px;
	}
	#menu > ul > li > a {
		font-size: 3.5vw;
	}
	#menu > ul > li > ul > li > a {
		font-size: 2.2vw;
	}
}

@media screen and (min-width: 1024px) {
	#footer {
		font-size: 2.2vw;
		margin-left: 20%;
		margin-top: 60px;
		width: 60%;
	}
	#index-logo {
		margin-top: 40px;
	}
	#menu > ul > li > a {
		font-size: 3vw;
	}
	#menu > ul > li > ul > li > a {
		font-size: 1.75vw;
	}
}

body {
	margin: 0;
}

#cardtable > thead > tr > td,
#pettable > thead > tr > td {
	width: 14.28%;
}

#charatable > thead > tr > td {
	width: 7%;
}

#equiptable > thead > tr > td,
#fairietable > thead > tr > td {
	width: 12.5%;
}

#error {
	color: red;
}

#charaerror {
	text-align: center;
	margin-left: 25%;
	width: 50%;
}

#footer {
	background-color: white;
	border: 1px solid black;
	border-radius: 20px;
}

#footer p {
	font-weight: bold;
	margin-left: 25%;
	width: 50%
}

form {
	background-color: rgba(0, 153, 255, 0.7);
	border: 1px solid black;
	border-radius: 25px;
	margin-bottom: 40px;
	margin-left: 15%;
	padding: 10px 5px 10px 5px;
	width: 70%;
}

form > div {
	display: inline-block;
	font-weight: bold;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: right;
	width: 40%;
}

html {
	background-attachment: fixed;
	background-size: cover;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
}

.index-all-link img, .index-server-link img {
	width: 40%;
}

.index-all-link {
	margin-left: 30%;
}

#index-container {
	width: 100%;
}

#index-logo {
	margin-left: 30%;
	text-align: center;
	width: 40%;
}

.index-server-link {
	margin-left: 5%;
	margin-right: 5%;
}

#jeweltable > thead > tr > td,
#pequiptable > thead > tr > td,
#pcardtable > thead > tr > td, 
#parttable > thead > tr > td {
	width: 16.66%;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#menu > ul > li {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	width: 50%;
}

#menu > ul > li > a {
	background: #0099FF;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
	color: #000;
	display: block;
	font-weight: bold;
	min-width: 100px;
	padding: 10px 15px 10px 15px;
	text-align: center;
	text-decoration: none;
	transition: background 500ms, color 500ms, border-color 500ms;
}

#menu > ul > li > a:hover {
	background: #FFF;
	color: #000;
}

#menu > ul > li > ul {
	position: absolute;
	display: none;
	left: 0;
	top: 100%;
	width: 100%;
}

#menu > ul > li > ul > li > a {
	background: #0099FF;
	border-bottom: 1px solid #FFF;
	color: #000;
	display: block;
	font-weight: bold;
	min-width: 130px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

#menu > ul > li > ul > li > a:hover {
	background: #FFF;
}

#resisttable > thead > tr > td {
	width: 10%;
}

#success {
	color: green;
}

table {
	background-color: rgba(0, 153, 255, 0.7);
	border: 1px solid black;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-bottom: 40px;
	margin-left: 5%;
	padding: 10px 5px 10px 5px;
	width: 90%;
}

table > thead > tr > td {
	border-right: 1px solid black;
	text-align: center;
	padding: 0.25%;
}

table > thead > tr > td:last-of-type {
	border: none;
}
